<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">

    <script src="{% static 'js/script.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'shop:allcat' %}">
                <img src="{% static 'images/logoecom4.jpg' %}" style="height:50px; width:50px;"/>
            </a>
            <a class="navbar-brand" href="{% url 'shop:allcat' %}">MyShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'shop:allcat' %}">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            All Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for i in link %}
                            <li><a class="dropdown-item" href="{% url 'shop:allproducts' i.id %}">{{i.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'shop:logout' %}">Logout</a>
                    </li>

                    {% if user.is_superuser != True %}

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'cart:cartview' %}"><i class="fa-solid fa-cart-shopping"></i><sup style="color:black;font-size:18px;">{{count}}</sup></a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'cart:orderview' %}">Your Orders</a>
                    </li>

                    {% endif %}


                    {% else %}

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'shop:regis' %}">Signup</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'shop:login' %}">Login</a>
                    </li>

                    {% endif %}



                </ul>
                <form class="d-flex" method="POST" action="{% url 'search:searchpro' %}">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-danger ms-2 pe-4 search-button" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<div class="mt-2" style="padding-top: 80px;"> <!-- Adding padding to push content below the navbar -->
    {% block content %}
    {% endblock %}
</div>

<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <center>
                    <p><i class="fa-regular fa-copyright"></i> 2024 | Shopy.com</p>
                </center>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
