{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="card-body">
            <h1 class="text-center mb-4">Details</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" name="a" id="address" placeholder="Enter Address">
                </div>
                <div class="form-group">
                    <label for="phone">Phone No.</label>
                    <input type="number" class="form-control" name="p" id="phone" placeholder="Enter Phone No.">
                </div>

                <div class="form-group">
                    <label for="accno">Account No.</label>
                    <input type="number" class="form-control" name="n" id="accno" placeholder="Enter Account No.">
                </div>


                <button type="submit" class="but">Submit</button>
            </form>
        </div>
    </div>
</div>

<style>
    .card {
        width: 600px;
    }

    .container {
        padding: 20px;
        border: 1px solid violet;
        border-radius: 5px;
        box-shadow: 0 0 10px blue;
        background-color: currentColor;
    }

    label {
        font-weight: bold;
    }


    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        border: 1px solid violet;
        border-radius: 5px;
        box-sizing: border-box;
    }



element.style {

    margin-top: 40px;
}



button {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  margin-top:5px;
}

button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button::before,
button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}





</style>

{% endblock %}
